<ion-content [fullscreen]="true">
  <div class="header-container"> <div class="toolbar">
      <h1>Películas Populares</h1>
    </div>
    <div class="toolbar">
      <ion-searchbar
        placeholder="Buscar..."
        (ionInput)="onSearch($event)"
        class="custom-searchbar"
        debounce="500"
      ></ion-searchbar>
    </div>
  </div>

  <div class="ion-padding"> <div *ngIf="loading" class="center-spinner">
      <div class="spinner"></div>
    </div>

    <div *ngIf="!loading" class="movie-grid">
      <div class="movie-col" *ngFor="let m of movies">
        <div class="movie-card" (click)="openDetail(m.tmdbId)">
          <img [src]="m.posterUrl || 'assets/placeholder.jpg'" alt="Poster" class="movie-img" />
          <div class="movie-card-content">
            <div class="card-title-multiline">{{ m.title }}</div>
            <div class="ratings">
              <span class="badge badge-user">Usuarios: {{ m.averageUserRating ?? '–' }}</span>
              <span class="badge badge-critic">Críticos: {{ m.averageCriticRating ?? '–' }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
