<ion-header>
  <ion-toolbar>
    <ion-title size="large" class="ion-text-center">Películas Populares</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      placeholder="Buscar..."
      (ionInput)="onSearch($event)"
      class="custom-searchbar"
      debounce="500"
      show-clear-button="focus"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <div *ngIf="loading" class="center-spinner">
      <ion-spinner name="crescent" class="spinner"></ion-spinner>
    </div>

    <ion-grid *ngIf="!loading" class="movie-grid">
      <ion-row>
        <ion-col
          size="12"
          size-sm="6"
          size-md="4"
          size-lg="3"
          *ngFor="let m of movies"
          class="movie-col"
        >
          <ion-card class="movie-card" (click)="openDetail(m.tmdbId)">
            <img
              [src]="m.posterUrl || 'assets/placeholder.jpg'"
              alt="Poster"
              class="movie-img"
            />
            <ion-card-content class="movie-card-content">
              <div class="card-title-multiline">{{ m.title }}</div>
              <div class="ratings">
                <ion-badge class="badge badge-user"
                  >Usuarios: {{ m.averageUserRating ?? '–' }}</ion-badge
                >
                <ion-badge class="badge badge-critic"
                  >Críticos: {{ m.averageCriticRating ?? '–' }}</ion-badge
                >
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
