<ion-content class="login-container" [fullscreen]="true">
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <h1>Iniciar sesión</h1>
    <ion-item lines="none">
      <ion-input
        [(ngModel)]="email"
        name="email"
        placeholder="Email"
        type="email"
        required
        autocomplete="username"
        inputmode="email"
        class="custom-input"
      ></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-input
        [(ngModel)]="password"
        name="password"
        placeholder="Contraseña"
        type="password"
        required
        autocomplete="current-password"
        class="custom-input"
      ></ion-input>
    </ion-item>
    <ion-button
      expand="block"
      type="submit"
      [disabled]="loading"
      class="custom-button"
    >
      {{ loading ? 'Cargando...' : 'Iniciar sesión' }}
    </ion-button>
    <div class="register-link">
      <a routerLink="/register">¿No tienes cuenta? Regístrate</a>
    </div>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  </form>
</ion-content>
